<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Contacto</title>
<link rel="stylesheet" href="css/asturmatch.css">
<link rel="stylesheet" href="css/contacto.css">
</head>
<body>
	<header>
	   <div class="usuario">
        <button class="icono-usuario" id="BotonUsuario"
            th:text="${InicialUsuario}"></button>
        <div class="datosUsuario-desplegados" id="DatosUsuarioDesplegable">
            <p th:text="'Tu Usuario: ' + ${UsuarioActual}"></p>

            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn-cerrar-sesion">Cerrar sesión</button>
            </form>
        </div>
        </div>
		<h1>Contacto</h1>
	</header>

	<nav>
		<ul class="nav-menu">
			<li><a href="/principal">Inicio</a></li>
			<li th:if="${rol != 'ADMIN'}"><a href="/torneos">Torneos</a></li>
			<li th:if="${rol == 'USUARIO'}"><a href="/equipos">Equipos</a></li>
			<li th:if="${rol == 'ORGANIZADOR' || rol == 'JUGADOR'}"><a href="/partidos">Partidos</a></li>
			<li th:if="${rol == 'JUGADOR'}"><a href="/mensajes">Mensajes</a></li>
		</ul>
	</nav>


	<main>
		<h2>Estamos aquí para ayudarte</h2>
		<p>Por favor, completa el siguiente formulario para ponerte en
			contacto con nosotros.</p>
		<form action="/contactar" method="POST">
			<ul>
				<li><label for="name">Nombre:</label><br> <input
					type="text" id="name" name="name" required></li>
				<li><label for="email">Correo Electrónico:</label><br> <input
					type="email" id="email" name="email" required></li>
				<li><label for="message">Mensaje:</label><br> <textarea
						id="message" name="message" rows="5" required></textarea></li>
			</ul>
			<button type="submit" class="button">Enviar</button>
		</form>
	</main>

	<footer>
		<p class="telefonocontacto">+34 608 65 53 49</p>
		<br>
		<div class="redessociales">
			<a href="#"><img src="media/facebook.png" alt="Facebook" /></a> <a
				href="#"><img src="media/x.png" alt="X" /></a> <a href="#"><img
				src="media/instagram.png" alt="Instagram" /></a>
		</div>
		<p>&copy; 2025 AsturMatch. Todos los derechos reservados.</p>
	</footer>
	
	<script src="js/asturmatch.js"></script>
</body>
</html>
