<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Crear Torneos - AsturMatch</title>
<link rel="stylesheet" href="css/asturmatch.css">
<link rel="stylesheet" href="css/crear-torneo.css">
</head>
<body>
	<header>
		<div class="usuario">
			<button class="icono-usuario" id="BotonUsuario" th:text="${InicialUsuario}"></button>
			<div class="datosUsuario-desplegados" id="DatosUsuarioDesplegable">
			<p th:text="'Tu Usuario: ' + ${UsuarioActual}"></p>
			</div>
		</div>
		<h1>CREAR TORNEO</h1>
	</header>

	<nav>
		<ul class="nav-menu">
			<li><a href="/principal">Inicio</a></li>
			<li><a href="/equipos">Equipos</a></li>
			<li><a href="/resultados">Resultados</a></li>
			<li><a href="/contacto">Contacto</a></li>
		</ul>
	</nav>

	<main>
		<p>¡Crea tu propio torneo con amigos o para gente de la zona con tus normas!</p>
		<div class="form-container">
			<h2>CREAR TORNEO</h2>
			<form th:action="@{/crear-torneo}" method="post" class="form">
				<div class="input-group">
					<label for="nombre">Nombre:</label> <input type="text" id="nombre"
						name="nombre" required placeholder="Nombre del torneo">
				</div>
				<div class="input-group">
					<label for="deporte">Deporte:</label> <select id="deporte"
						name="deporte" required>
						<option value="FUTBOL">Fútbol</option>
						<option value="BALONCESTO">Baloncesto</option>
						<option value="TENIS">Tenis</option>
					</select>
				</div>
				<div class="input-group">
					<label for="fechaInicio">Fecha de inicio:</label> <input
						type="date" id="fechaInicio" name="fechaInicio" required>
				</div>
				<div class="input-group">
					<label for="fechaFin">Fecha de fin:</label> <input type="date"
						id="fechaFin" name="fechaFin" required>
				</div>
				<div class="input-group">
					<label for="ubicacion">Ubicación:</label> <input type="text"
						id="ubicacion" name="ubicacion" required
						placeholder="Ubicación del torneo">
				</div>
				<div class="input-group">
					<button type="submit" class="button">Crear Torneo</button>
				</div>
			</form>

		</div>
	</main>

	<footer>
		<p class="telefonocontacto">+34 608 65 53 49</p>
		<br>
		<div class="redessociales">
			<a href="#"><img src="media/facebook.png" alt="Facebook" /></a> <a
				href="#"><img src="media/x.png" alt="X" /></a> <a href="#"><img
				src="media/instagram.png" alt="Instagram" /></a>
		</div>
		<p>&copy; 2025 AsturMatch. Todos los derechos reservados.</p>
	</footer>

	<script src="js/asturmatch.js"></script>
</body>
</html>