<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Crear Equipos Profesionales - AsturMatch</title>
<link rel="stylesheet" href="css/asturmatch.css">
<link rel="stylesheet" href="css/crear-torneo.css">
</head>
<body>
	<header>
		<div class="usuario">
			<button class="icono-usuario" id="BotonUsuario" th:text="${InicialUsuario}"></button>
			<div class="datosUsuario-desplegados" id="DatosUsuarioDesplegable">
			<p th:text="'Tu Usuario: ' + ${UsuarioActual}"></p>
			</div>
		</div>
		<h1>CREAR EQUIPO PROFESIONAL</h1>
	</header>

	<nav>
		<ul class="nav-menu">
			<li><a href="/principal">Inicio</a></li>
			<li th:if="${rol != 'ADMIN'}"><a href="/torneos">Torneos</a></li>
			<li th:if="${rol == 'USUARIO'}"><a href="/equipos">Equipos</a></li>
			<li th:if="${rol == 'ORGANIZADOR' || rol == 'JUGADOR'}"><a href="/partidos">Partidos</a></li>
			<li th:if="${rol == 'JUGADOR'}"><a href="/mensajes">Mensajes</a></li>
			<li th:if="${rol != 'ADMIN'}"><a href="/contacto">Contacto</a></li>
		</ul>
	</nav>

	<main>
		<p>¡Crea un equipo profesional y compite con amigos o gente de tu
			zona por premios!</p>
		<div class="form-container">
			<h2>CREAR EQUIPO PROFESIONAL</h2>
			<form th:action="@{/crear-equipopro}" method="post" class="form">

				<div class="input-group">
					<label for="nombre">Nombre del equipo:</label> <input type="text"
						id="nombre" name="nombre" required
						placeholder="Ej: Astur Warriors">
				</div>

				<div class="input-group">
					<label for="deporte">Deporte:</label> <select id="deporte"
						name="deporte" required>
						<option value="FUTBOL">Fútbol</option>
						<option value="BALONCESTO">Baloncesto</option>
						<option value="TENIS">Tenis</option>
					</select>
				</div>

				<div class="input-group">
					<label for="descripcion">Descripción:</label>
					<textarea id="descripcion" name="descripcion" rows="3"
						placeholder="Cuéntanos sobre tu equipo..."></textarea>
				</div>

				<div class="input-group">
					<label for="localidad">Localidad:</label> <input type="text"
						id="localidad" name="localidad" placeholder="Ej: Gijón, Oviedo...">
				</div>

				<div class="input-group">
					<label for="colorPrincipal">Color principal del equipo:</label> <input
						type="color" id="colorPrincipal" name="colorPrincipal">
				</div>

				<div class="input-group">
					<button type="submit" class="button">Crear Equipo</button>
				</div>

			</form>
		</div>
	</main>

	<footer>
		<p class="telefonocontacto">+34 608 65 53 49</p>
		<br>
		<div class="redessociales">
			<a href="#"><img src="media/facebook.png" alt="Facebook" /></a> <a
				href="#"><img src="media/x.png" alt="X" /></a> <a href="#"><img
				src="media/instagram.png" alt="Instagram" /></a>
		</div>
		<p>&copy; 2025 AsturMatch. Todos los derechos reservados.</p>
	</footer>

	<script src="js/asturmatch.js"></script>
</body>
</html>