<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Equipos - AsturMatch</title>
<link rel="stylesheet" href="css/asturmatch.css">
<link rel="stylesheet" href="css/equipos.css">
</head>
<body>
	<header>
		<div class="usuario">
			<button class="icono-usuario" id="BotonUsuario"
				th:text="${InicialUsuario}"></button>
			<div class="datosUsuario-desplegados" id="DatosUsuarioDesplegable">
				<p th:text="${UsuarioActual}"></p>
			</div>
		</div>
		<h1>Equipos</h1>
	</header>

	<nav>
		<ul class="nav-menu">
			<li><a href="/principal">Inicio</a></li>
			<li><a href="/torneos">Torneos</a></li>
			<li><a href="/resultados">Resultados</a></li>
			<li><a href="/contacto">Contacto</a></li>
		</ul>
	</nav>


	<main>
		<h2>Lista de Equipos</h2>
		<p>Aquí puedes ver y crear tus equipos</p>
		<div class="contenedor">

			<div class="tarjeta">

				<h2 class="titulo">Crear Equipo</h2>

				<div class="cuerpo">

					<img src="media/crear-equipo.png" alt="Crear equipo (imagen)">

					<p>Crea un equipo con tus amigos y participa en eventos
						divertidos y competitivos.</p>
					<p>Personaliza el nombre, logo y estilo de tu equipo para
						hacerlo único.</p>
					<p>Invita a tus amigos y compitan juntos en diferentes torneos
						locales o en línea.</p>

				</div>

				<div class="pie">
					<li><a th:href="@{/crear-equipo}">Crear</a></li>
				</div>

			</div>

			<div class="tarjeta">

				<h2 class="titulo">Crear Equipo Profesional</h2>

				<div class="cuerpo">

					<img src="media/crear-equipopro.png"
						alt="Crear equipo profesional (imagen)">

					<p>Forma un equipo con jugadores de tu nivel y compite al
						máximo.</p>
					<p>Demuestra tus habilidades y compite por premios en metálico
						que recompensarán a los mejores.</p>
					<p>¡Haz historia con tu equipo y destaca en los torneos más
						competitivos!</p>

				</div>

				<div class="pie">

					<li><a th:href="@{/crear-equipopro}">Crear</a></li>

				</div>
			</div>

			<div class="tarjeta">

				<h2 class="titulo">Unirse a un equipo</h2>

				<div class="cuerpo">

					<img src="media/unirse-equipo.png"
						alt="Unirse a un equipo (imagen)">

					<p>Únete al equipo de tus amigos o conoce a nuevos jugadores
						con tus mismas aficiones.</p>
					<p>Accede a equipos locales o en línea y forma parte de una
						comunidad activa.</p>
					<p>Colabora con tu equipo en torneos y actividades para lograr
						los mejores resultados.</p>

				</div>

				<div class="pie">

					<li><a th:href="@{/unirse-equipo}">Unirse</a></li>

				</div>

			</div>

		</div>
	</main>


	<footer>
		<p class="telefonocontacto">+34 608 65 53 49</p>
		<br>
		<div class="redessociales">
			<a href="#"><img src="media/facebook.png" alt="Facebook" /></a> <a
				href="#"><img src="media/x.png" alt="X" /></a> <a href="#"><img
				src="media/instagram.png" alt="Instagram" /></a>
		</div>
		<p>&copy; 2024 AsturMatch. Todos los derechos reservados.</p>
	</footer>

	<script src="js/asturmatch.js"></script>
</body>
</html>