<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Gestión de Torneos - AsturMatch</title>
<link rel="stylesheet" href="css/asturmatch.css">
<link rel="stylesheet" href="css/gestion-torneos.css">
</head>
<body>
	<header>
		<div class="usuario">
        <button class="icono-usuario" id="BotonUsuario"
            th:text="${InicialUsuario}"></button>
        <div class="datosUsuario-desplegados" id="DatosUsuarioDesplegable">
            <p th:text="'Tu Usuario: ' + ${UsuarioActual}"></p>

            <form th:action="@{/logout}" method="post">
                <button type="submit">Cerrar sesión</button>
            </form>
        </div>
        </div>
		<h1>GESTIÓN DE TORNEOS</h1>
	</header>

	<nav>
		<ul class="nav-menu">
			<li><a href="/principal">Inicio</a></li>
			<li th:if="${rol == 'ADMIN'}"><a href="/gestion-equipos">Gestión de Equipos</a></li>
		</ul>
	</nav>

	<main>
		<h1>Listado de Torneos</h1>

		<form th:action="@{/gestion-torneos}" method="get">
			<label for="ubicacion">Ubicación:</label> 
			<input type="text" name="ubicacion" th:value="${ubicacion}" /> 
			<label for="tipoTorneo">Tipo de Torneo:</label> 
			<select name="tipoTorneo">
				<option value="">-- Todos --</option>
				<option th:each="tipo : ${tiposTorneo}" 
				        th:value="${tipo}" 
				        th:text="${tipo}" 
				        th:selected="${tipo == tipoTorneo}">
				</option>
			</select> 
			<label for="deporte">Deporte:</label> 
			<select name="deporte">
				<option value="">-- Todos --</option>
				<option th:each="dep : ${tiposDeporte}" 
				        th:value="${dep}"
					    th:text="${dep}" 
					    th:selected="${dep == deporte}">
		        </option>
			</select>

			<button type="submit">Filtrar</button>
		</form>

		<table>
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Fecha de Inicio</th>
					<th>Fecha de Finalización</th>
					<th>Ubicación</th>
					<th>Estado</th>
					<th>Tipo de Torneo</th>
					<th>Deporte</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="torneo : ${torneos}">
					<form th:action="@{/modificar-torneo}" method="post">
						<input type="hidden" name="id" th:value="${torneo.id}" /> 
						<input type="hidden" name="tipoTorneo" th:value="${torneo.tipoTorneo}" />
						<input type="hidden" name="deporte" th:value="${torneo.deporte}" />

						<td><input type="text" name="nombre" th:value="${torneo.nombre}" /></td>
						<td><input type="date" name="fechaInicio" th:value="${torneo.fechaInicio}" /></td>
						<td><input type="date" name="fechaFin" th:value="${torneo.fechaFin}" /></td>
						<td><input type="text" name="ubicacion" th:value="${torneo.ubicacion}" /></td>
						<td><input type="text" name="estado" th:value="${torneo.estado}" /></td>
						<td th:text="${torneo.tipoTorneo}"></td>
						<td th:text="${torneo.deporte}"></td>

						<td><button id="btn-modificar" type="submit">Modificar</button></td>
					</form>

				</tr>
			</tbody>
		</table>
	</main>

	<footer>
		<p class="telefonocontacto">+34 608 65 53 49</p>
		<br>
		<div class="redessociales">
			<a href="#"><img src="media/facebook.png" alt="Facebook" /></a> <a
				href="#"><img src="media/x.png" alt="X" /></a> <a href="#"><img
				src="media/instagram.png" alt="Instagram" /></a>
		</div>
		<p>&copy; 2025 AsturMatch. Todos los derechos reservados.</p>
	</footer>

	<script src="js/asturmatch.js"></script>
</body>
</html>