<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Gestion de Equipos - AsturMatch</title>
<link rel="stylesheet" href="css/asturmatch.css">
<link rel="stylesheet" href="css/mensajes-contacto.css">
</head>
<body>
	<header>
		<div class="usuario">
        <button class="icono-usuario" id="BotonUsuario"
            th:text="${InicialUsuario}"></button>
        <div class="datosUsuario-desplegados" id="DatosUsuarioDesplegable">
            <p th:text="'Tu Usuario: ' + ${UsuarioActual}"></p>

            <form th:action="@{/logout}" method="post">
                <button type="submit">Cerrar sesión</button>
            </form>
        </div>
        </div>
		<h1>GESTIÓN DE EQUIPOS</h1>
	</header>

	<nav>
		<ul class="nav-menu">
			<li><a href="/principal">Inicio</a></li>
			<li th:if="${rol == 'ADMIN'}"><a href="/gestion-torneos">Gestión de Torneos</a></li>
		</ul>
	</nav>

    <main>
        <h2>Mensajes de Contacto</h2>
    
        <div th:if="${mensajes.isEmpty()}">
            <p>No hay mensajes nuevos.</p>
        </div>
    
        <ul th:each="mensaje : ${mensajes}">
            <li>
                <strong th:text="${#temporals.format(mensaje.fechaCreacion, 'dd/MM/yyyy HH:mm')}"></strong><br>
                <pre th:text="${mensaje.contenido}"></pre>
            </li>
        </ul>
    </main>


	<footer>
		<p class="telefonocontacto">+34 608 65 53 49</p>
		<br>
		<div class="redessociales">
			<a href="#"><img src="media/facebook.png" alt="Facebook" /></a> <a
				href="#"><img src="media/x.png" alt="X" /></a> <a href="#"><img
				src="media/instagram.png" alt="Instagram" /></a>
		</div>
		<p>&copy; 2025 AsturMatch. Todos los derechos reservados.</p>
	</footer>

	<script src="js/asturmatch.js"></script>
</body>
</html>