<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Partidos - AsturMatch</title>
<link rel="stylesheet" href="css/asturmatch.css">
<link rel="stylesheet" href="css/clasificacion-resultados.css">
</head>
<body>
	<header>
		<div class="usuario">
			<button class="icono-usuario" id="BotonUsuario" th:text="${InicialUsuario}"></button>
			<div class="datosUsuario-desplegados" id="DatosUsuarioDesplegable">
				<p th:text="'Tu Usuario: ' + ${UsuarioActual}"></p>
			</div>
		</div>
		<h1>Resultados</h1>
	</header>

	<nav>
		<ul class="nav-menu">
			<li><a href="/principal">Inicio</a></li>
			<li th:if="${rol != 'ADMIN'}"><a href="/torneos">Torneos</a></li>
			<li th:if="${rol == 'USUARIO'}"><a href="/equipos">Equipos</a></li>
			<li th:if="${rol == 'JUGADOR'}"><a href="/mensajes">Mensajes</a></li>
			<li th:if="${rol != 'ADMIN'}"><a href="/contacto">Contacto</a></li>
		</ul>
	</nav>


	<main>
		<h1 class="clasificacion-resultados">Clasificación y Resultados</h1>
		<div class="clasificacion-resultados-organizador">
			<section class="seccion-clasificacion">
			  <div th:each="torneo : ${misTorneos}">
				<div th:if="${clasificacionesPorTorneo[torneo.id]}" class="contenedor-clasificacion">
					<h2 class="titulo-clasificacion">Clasificación Torneo 1</h2>
					<table class="tabla-clasificacion">
						<thead>
							<tr>
								<th>Equipo</th>
								<th>PJ</th>
								<th>PG</th>
								<th>PE</th>
								<th>PP</th>
								<th>GF</th>
								<th>GC</th>
								<th>Puntos</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="fila : ${clasificacionesPorTorneo[torneo.id]}">
								<td th:text="${fila.equipo.nombre}"></td>
								<td th:text="${fila.pj}"></td>
								<td th:text="${fila.pg}"></td>
								<td th:text="${fila.pe}"></td>
								<td th:text="${fila.pp}"></td>
								<td th:text="${fila.gf}"></td>
								<td th:text="${fila.gc}"></td>
								<td th:text="${fila.puntos}"></td>
							</tr>
						</tbody>
					</table>

					<div class="leyenda">
						<div class="leyenda-izquierda">
							<p>
								<span class="punto-leyenda azul"></span> Primer clasificado
							</p>
							<p>
								<span class="punto-leyenda naranja"></span> Podio
							</p>
							<p>
								<span class="punto-leyenda rojo"></span> Último clasificado
							</p>
						</div>
					</div>
				</div>
			  </div>
			</section>
			<section class="seccion-resultados">
				<div class="contenedor-resultados">
					<div th:each="entry : ${partidosPorJornada}">
						<h2 class="titulo-jornada">
							🗓️ Jornada <span th:text="${entry.key}"></span>
						</h2>
						<div th:each="partido : ${entry.value}" class="partido">
							<span class="fecha"
								th:text="${#temporals.format(partido.fechaHora, 'dd.MM. HH:mm')}"></span>

							<div class="equipo-local" th:text="${partido.equipoLocal.nombre}"></div>

							<form th:action="@{/guardar-resultado}" method="post"
								class="form-marcador">
								<input type="hidden" name="partidoId" th:value="${partido.id}" />

								<div class="marcador">
									<input type="number" min="0" max="99" name="puntuacionLocal"
										th:value="${partido.resultado != null ? partido.resultado.puntuacionLocal : 0}" />
									<span>-</span> <input type="number" min="0" max="99"
										name="puntuacionVisitante"
										th:value="${partido.resultado != null ? partido.resultado.puntuacionVisitante : 0}" />
								</div>
								<th:block th:if="${rol == 'ORGANIZADOR'}">
									<button type="submit" class="btn-guardar">Guardar</button>
								</th:block>
							</form>

							<div class="equipo-visitante"
								th:text="${partido.equipoVisitante.nombre}"></div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>

	<footer>
		<p class="telefonocontacto">+34 608 65 53 49</p>
		<br>
		<div class="redessociales">
			<a href="#"><img src="media/facebook.png" alt="Facebook" /></a> <a
				href="#"><img src="media/x.png" alt="X" /></a> <a href="#"><img
				src="media/instagram.png" alt="Instagram" /></a>
		</div>
		<p>&copy; 2025 AsturMatch. Todos los derechos reservados.</p>
	</footer>
	
	<script src="js/asturmatch.js"></script>
</body>
</html>