<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torneos - AsturMatch</title>
    <link rel="stylesheet" href="css/asturmatch.css">
    <link rel="stylesheet" href="css/torneos.css">
</head>
<body>
    <header>
        <h1>Torneos</h1>
        <h3 th:text="${UsuarioActual}"></h3>
        <nav>
            <ul class="nav-menu">
                <li><a href="/principal">Inicio</a></li>
                <li><a href="/equipos">Equipos</a></li>
                <li><a href="/resultados">Resultados</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h2>Lista de Torneos</h2>
        <p>Aquí puedes ver y crear tus torneos personalizados.</p>
    </main>
    
    <footer>
		<p class="telefonocontacto">+34 608 65 53 49</p>
		<br>
		<div class="redessociales">
          <a href="#"><img src="media/facebook.png" alt="Facebook" /></a>
          <a href="#"><img src="media/x.png" alt="X" /></a>
          <a href="#"><img src="media/instagram.png" alt="Instagram" /></a>
        </div>
        <p>&copy; 2024 AsturMatch. Todos los derechos reservados.</p>
	</footer>
</body>
</html>

