<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Crear Torneos - AsturMatch</title>
<link rel="stylesheet" href="css/asturmatch.css">
<link rel="stylesheet" href="css/unirse-torneo.css">
</head>
<body>
	<header>
		<div class="usuario">
			<button class="icono-usuario" id="BotonUsuario"
				th:text="${InicialUsuario}"></button>
			<div class="datosUsuario-desplegados" id="DatosUsuarioDesplegable">
				<p th:text="'Tu Usuario: ' + ${UsuarioActual}"></p>
			</div>
		</div>
		<h1>UNIRSE A UN TORNEO</h1>
		<p></p>
	</header>

	<nav>
		<ul class="nav-menu">
			<li><a href="/principal">Inicio</a></li>
			<li><a href="/equipos">Equipos</a></li>
			<li><a href="/partidos">Partidos</a></li>
			<li th:if="${rol == 'JUGADOR'}"><a href="/mensajes">Mensajes</a></li>
			<li th:if="${rol != 'ADMIN'}"><a href="/contacto">Contacto</a></li>
		</ul>
	</nav>

	<main>
		<h1>LISTA DE TORNEOS</h1>
		<p>¡Unete a torneos creados por amigos o por gente de la zona!</p>

		<table>
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Deporte</th>
					<th>Fecha Inicio</th>
					<th>Ubicación</th>
					<th>Acción</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="torneo : ${torneos}">
					<td th:text="${torneo.nombre}"></td>
					<td th:text="${torneo.deporte}"></td>
					<td th:text="${torneo.fechaInicio}"></td>
					<td th:text="${torneo.ubicacion}"></td>
					<td>
						<form th:action="@{/unirse-torneo}" method="post">
							<input type="hidden" th:name="torneoId" th:value="${torneo.id}" />
							<button type="submit">Unirse</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</main>


	<footer>
		<p class="telefonocontacto">+34 608 65 53 49</p>
		<br>
		<div class="redessociales">
			<a href="#"><img src="media/facebook.png" alt="Facebook" /></a> <a
				href="#"><img src="media/x.png" alt="X" /></a> <a href="#"><img
				src="media/instagram.png" alt="Instagram" /></a>
		</div>
		<p>&copy; 2025 AsturMatch. Todos los derechos reservados.</p>
	</footer>

	<script src="js/asturmatch.js"></script>
</body>
</html>