<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Crear Torneos - AsturMatch</title>
<link rel="stylesheet" href="css/asturmatch.css">
<link rel="stylesheet" href="css/principal.css">
</head>
<body>
	<header>
		<div class="usuario">
			<button class="icono-usuario" id="BotonUsuario" th:text="${InicialUsuario}"></button>
			<div class="datosUsuario-desplegados" id="DatosUsuarioDesplegable">
				<p th:text="${UsuarioActual}"></p>
			</div>
		</div>
		<h1>UNIRSE A UN TORNEO</h1>
		<p></p>
	</header>

	<nav>
		<ul class="nav-menu">
			<li><a href="/principal">Inicio</a></li>
			<li><a href="/equipos">Equipos</a></li>
			<li><a href="/resultados">Resultados</a></li>
			<li><a href="/contacto">Contacto</a></li>
		</ul>
	</nav>

	<main>
		<section class="welcome-message">
			<h1>LISTA DE TORNEOS</h1>
			<p>¡Unete a torneos creados por amigos o por gente de la zona!</p>
		</section>
	</main>

	<footer>
		<p class="telefonocontacto">+34 608 65 53 49</p>
		<br>
		<div class="redessociales">
			<a href="#"><img src="media/facebook.png" alt="Facebook" /></a> <a
				href="#"><img src="media/x.png" alt="X" /></a> <a href="#"><img
				src="media/instagram.png" alt="Instagram" /></a>
		</div>
		<p>&copy; 2024 AsturMatch. Todos los derechos reservados.</p>
	</footer>
	
	<script src="js/asturmatch.js"></script>
</body>
</html>