<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Unirse equipos - AsturMatch</title>
<link rel="stylesheet" href="css/asturmatch.css">
<link rel="stylesheet" href="css/unirse-equipo.css">
</head>
<body>
	<header>
		<div class="usuario">
        <button class="icono-usuario" id="BotonUsuario"
            th:text="${InicialUsuario}"></button>
        <div class="datosUsuario-desplegados" id="DatosUsuarioDesplegable">
            <p th:text="'Tu Usuario: ' + ${UsuarioActual}"></p>

            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn-cerrar-sesion">Cerrar sesión</button>
            </form>
        </div>
        </div>
		<h1>UNIRSE EQUIPO</h1>
	</header>

	<nav>
		<button class="nav-toggle" id="navToggle">&#9776;</button>
		<ul class="nav-menu" id="navMenu">
			<li><a href="/principal">Inicio</a></li>
			<li th:if="${rol != 'ADMIN'}"><a href="/torneos">Torneos</a></li>
			<li th:if="${rol == 'USUARIO'}"><a href="/equipos">Equipos</a></li>
			<li th:if="${rol == 'ORGANIZADOR' || rol == 'JUGADOR'}"><a href="/partidos">Partidos</a></li>
			<li th:if="${rol == 'JUGADOR'}"><a href="/mensajes">Mensajes</a></li>
			<li th:if="${rol != 'ADMIN'}"><a href="/contacto">Contacto</a></li>
		</ul>
	</nav>

	<main>
		<h1>Lista de Equipos</h1>
		<p>Únete a un equipo con amigos o gente de tu zona.</p>

		<table>
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Fecha de Creación</th>
					<th>Acción</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="equipo : ${equipos}">
					<td th:text="${equipo.nombre}"></td>
					<td th:text="${equipo.fechaCreacion}"></td>
					<td>
						<form th:action="@{/unirse-equipo}" method="post">
							<input type="hidden" name="equipoId" th:value="${equipo.id}" />
							<button type="submit">Unirse</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</main>

	<footer>
		<p class="telefonocontacto">+34 608 65 53 49</p>
		<br>
		<div class="redessociales">
			<a href="#"><img src="media/facebook.png" alt="Facebook" /></a> <a
				href="#"><img src="media/x.png" alt="X" /></a> <a href="#"><img
				src="media/instagram.png" alt="Instagram" /></a>
		</div>
		<p>&copy; 2025 AsturMatch. Todos los derechos reservados.</p>
	</footer>

	<script src="js/asturmatch.js"></script>
</body>
</html>