header {
	background-image: url('../media/header_principal.png');
	background-size: cover;
	background-position: center;
	color: black;
	padding-bottom:10px;
}

nav {
    position: relative;
    z-index: 1000;
    width: 100%;
}

.contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 13px;
    max-width: 1250px;
    margin: 0 auto;
}

.cuerpo img {
    width: 100%;
    height: auto;
    max-height: 220px;
    object-fit: cover;
    border-radius: 13px;
    display: block;
}

.tarjeta {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
    font-family: sans-serif;
}

.titulo {
	font-size: 24px;
	padding: 10px 10px 0 10px;;
}

.cuerpo {
	padding: 10px;
	flex: 1 1 100%;
}

.pie {
	background: #6699ff;
	border-radius: 0 0 15px 15px;
	padding: 10px;
	width: 100%;
	text-align: center;
	position: relative;
	box-sizing: border-box;
}

.pie a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    background-color: #3366cc;
    border-radius: 8px;
    transition: background-color 0.3s;
    width: auto;
}

.pie a:after {
    content: none;
}


.pie a:hover {
	background-color: #003399;
}