header {
	background-image: url('../media/header_principal.png');
	background-size: cover;
	background-position: center;
	color: black;
	padding: 120px 40px;
	box-shadow: var(--sombra-caja);
	margin: 0;
}

main {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h2 {
    color: #333;
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 20px;
}

label {
    font-size: 1.1em;
    margin-bottom: 5px;
    display: block;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    font-size: 1.1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #79e63a;
    color: black;
    border: none;
    padding: 12px 20px;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button[type="submit"]:hover {
    background-color: #5eb32a;
    color: white;
    transform: translateY(-3px);
}

.crear-cuenta {
    margin: 10px 0;
    font-size: 1rem;
    color: #666;
    text-align: center;
}

.crear-cuenta a.link-registro {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.crear-cuenta a.link-registro:hover {
    color: #79e63a;
    text-shadow: 0 0 5px rgba(0, 128, 0, 0.4);
}


.error-message {
    color: red;
    font-size: 1.1em;
    margin-top: 20px;
    text-align: center;
}
